@using AFRICOMDMSWEB.Models.ViewModel
@model RequestViewModel
<partial name="sidebbar" />
<div class="home-section">
    <div class="contain">
        <div class="cont">
            <div class="btnss text-end">
                <a class="btn btn-primary" asp-action="CreateProject" asp-controller="Project">Create New Project</a>
            </div>
        </div>
    </div>
</div>














































































