@using AFRICOMDMSWEB.Models.ViewModel
@model ChangePasswordViewModel


<partial name="sidebbar" />
<div class="home-section">
    <div class="contain">
        <div class="cont">
            <div class="" style="width:50%; margin: 0px auto">

                <h5>Change Password</h5>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" asp-action="ChangePassword">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group p-2">
                                <label asp-for="CurrentPassword"></label>
                                <input asp-for="CurrentPassword" class="form-control" />
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group p-2">
                                <label asp-for="NewPassword"></label>
                                <input asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group p-2">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="mx-1 my-2 px-4">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
