@using AFRICOMDMSWEB.Models.ViewModel
@model RequestActionViewModel


<partial name="sidebbar" />
<div class="home-section">
    <div class="cont-Detail">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="col-md-5">
            <form method="post" enctype="multipart/form-data" asp-action="AddReqFile">
                <input asp-for="RequestID" hidden />
                <div class="form-group">
                    
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <p>Upload file</p>
                        <input class="form-control" name="FormFile" type="file" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input class="btn btn-success" type="submit" value="Add Requist File" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>