<partial name="sidebbar" />
<div class="home-section">
    <div class="contain">
        <div class="cont">
            <div class="btnss text-end">
                <a class="btn btn-primary" asp-action="Take" asp-controller="Attendance">Take Attendance</a>
                @*<a class="btn btn-primary" asp-action="CreateFile" asp-controller="Folder">Add file</a>*@
            </div>
        </div>
    </div>
</div>