<partial name="sidebbar" />
<div class="home-section">
    <div class="contain">
        <div class="cont">
            <div class="confor-box">
                <div>
                    <p class="text-capitalize p-2"><strong>Are you Sure You want to delete this File ?  </strong></p>
                    <p cclass="text-capitalize p-2">The old Versions of this file Will be Deleted</p>
                </div>
                <div>
                    <form class="p-2 text-center" asp-action="DeleteVAlso" method="post" >
	                    <button class="btn btn-danger" type="submit">delete</button>
                   </form>
                </div>
         
            </div>
         </div>
     </div>
 </div>




