@using AFRICOMDMSWEB.Models.ViewModel
@model DocumentViewModel
<partial name="sidebbar" />
<div class="home-section">
    <div class="contain">
        <div class="cont">
  
        <form method="post" asp-action="CreateFolder">
                <div>
                    <p>Create Folder</p>
                    <hr />
                </div>
                <div>
                    <p>Currentpath:  <strong>@Model.path\</strong></p>
                </div>
            <div class="form-group p-3">
                <div class="col-md-10">
                    <p>Folder Name</p>
                    <input class="form-control" asp-for="Folders.FolderName" />
                </div>
            </div>
           
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-success" type="submit"/>
                </div>
            </div>
        </form>
       
    </div>
</div>
 </div>
